[submodule "Submodules/MatterSlice"]
	path = Submodules/MatterSlice
	url = https://github.com/MatterHackers/MatterSlice.git
[submodule "Submodules/agg-sharp"]
	path = Submodules/agg-sharp
	url = https://github.com/MatterHackers/agg-sharp.git
[submodule "Submodules/agg-sharp/glfw-net"]
	path = Submodules/agg-sharp/glfw-net
	url = https://github.com/MatterHackers/glfw-net.git
